<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>DareCash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto']
  }) %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Primary Care</a></li>
  <li><a href="#!">Dentist</a></li>
  <li><a href="#!">Pediatrician</a></li>
  <li><a href="#!">More</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Nutrition</a></li>
  <li><a href="#!">Exercise</a></li>
  <li><a href="#!">Family</a></li>
  <li><a href="#!">More</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="https://darecash.herokuapp.com/" class="hide-on-med-only brand-logo">
        <%= image_tag("logo.png", :alt => "rss feed") %>
      </a>
      <a href="https://darecash.herokuapp.com/" class="left hide-on-small-only hide-on-large-only brand-logo">
        <%= image_tag("logo.png", :alt => "rss feed") %>
      </a>
      <ul class="right hide-on-small-only">
        <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Reviews<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown2">Articles<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="teal-text" href="https://www.caredash.com/review-your-doctor">Rate Your Doctor</a></li>
      </ul>
    </div>
  </nav>
</div>
<%= yield %>

</body>
</html>